<div class="container">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <form>
            <div class="alert alert-danger animated fadeIn" *ngIf="messageErro">{{ messageErro }}</div>
            <div class="form-group row">
                <label for="cedula" class="col-form-label col-sm-2">Cedula</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="cedula" [(ngModel)]="persona.perscedu">
                </div>
            </div>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombres</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="persona.persnomb">
                </div>
            </div>
            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellidos</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="apellido" [(ngModel)]="persona.persapel">
                </div>
            </div>
            <div class="form-group row">
                <label for="Fecha" class="col-form-label col-sm-2">Fecha Nacimiento</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" name="Fecha" [(ngModel)]="persona.persfena" placeholder="yyyy-mm-dd">
                </div>
            </div>
            <!---->
            <button type="submit" [disabled]="!persona.perscedu" class="btn btn-success" role="button" (click) = 'create()' >Registrar Persona</button>
        </form>
    </div>
</div>