<div class="container">
<h1>{{titulo}}</h1>
<button type="button" class="btn btn-primary" [routerLink]="['/personas/form']">Agregar persona</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Fecha Nacimiento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itemPersona of personas">
        <th scope="row">{{itemPersona.perscedu}}</th>
        <td>{{itemPersona.persnomb}}</td>
        <td>{{itemPersona.persapel}}</td>
        <td>{{itemPersona.persfena}}</td>
      </tr>
    </tbody>
  </table>
</div>